<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
    <h2>Olá, {{ username }}</h2>
    <p>Você solicitou a redefinição de sua senha.</p>
    <p>Para redefinir sua senha, clique no link abaixo:</p>
    <a href="{{ link_reset }}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none;">Redefinir Senha</a>
    <p>Se você não solicitou essa alteração, por favor, ignore este e-mail.</p>
</body>
</html>
