{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}

{% block 'titulo' %}Cadastre-se{% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <img class="img_logo_sidebar" src="{% static 'autenticacao/img/BannerDietAtiva.png' %}">
                </div>
            </div>

            <div class="col-md-9">
                <div class="area_cadastrar">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2 class="titulo">Seja bem-vindo</h2>
                    <p class="sub-titulo">Entre com sua conta</p>
                    <hr>

                    <form action="{% url 'logar' %}" method="POST">{% csrf_token %}
                        <label for="username" class="bold">Nome de usuário</label>
                        <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">

                        <label for="password" class="bold">Senha</label>
                        <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha...">

                        <button class="btn-first">Logar</button>
                    </form>
                    
                    <h4 style="position: absolute; bottom: 65px; font-weight: bold; margin-top: -7rem;">
                        Não tem uma conta? <a href="{% url 'cadastro' %}" class="btn btn-outline-success btn-sm">Registre-se</a>
                    </h4>
                    
                    <!-- Novo botão para redefinir senha -->
                    <h4 style="position: absolute; bottom: 30px; font-weight: bold">
                        Esqueceu sua senha? <a href="{% url 'reset_senha' %}" class="btn btn-outline-success btn-sm">Redefinir senha</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
