<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo!</title>
</head>
<body style="font-family: Arial, sans-serif; color: #4B0082; text-align: center;">
    <div style="margin: 0 auto; padding: 20px; max-width: 600px; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #4B0082;">Seja bem-vindo, {{ username }}!</h1>
        <p style="color: #4B0082;">Sua conta foi criada com sucesso.</p>
        <p><a href="{{ link_ativacao }}" style="color: #4B0082; font-weight: bold; text-decoration: none;">CLIQUE AQUI</a> para ativar sua conta.</p>
    </div>
</body>
</html>
