{% extends 'pagina_inicial.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'plataforma/css/pagina_inicial.css' %}">
{% endblock %}

{% block 'plataforma' %}

{% if messages %}
<br>
{% for message in messages %}
<div class="alert {{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}

<div class="container">
    <div class="patients-grid">
        {% for paciente in pacientes %}
        <a href="{% url 'dados_paciente' paciente.id %}" class="link-hover">
            <div class="patient-card">
                <div class="foto-perfil">
                    {% if paciente.sexo == "M" %}
                    <img src="{% static 'plataforma/img/usuario.png' %}" alt="Foto do paciente">
                    {% else %}
                    <img src="{% static 'plataforma/img/usuario.png' %}" alt="Foto da paciente">
                    {% endif %}
                </div>
                <p>{{ paciente.nome }}</p>
                <p>{{ paciente.idade }} anos</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}